.sources-nav {
  position: absolute;
  top: 70px;
  bottom: 50px;
  width: 250px;
  padding: 0.5rem 0;
  background-color: #2e2e2e;
  z-index: 3;
  text-align: center;
  overflow: hidden;
}

.sources-button {
  display: none;
}

.sources-container {
  position: relative;
  top: 0;
  height: 100%;
  transition: 0.7s;
  scrollbar-width: thin;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.sources-container::-webkit-scrollbar {
  width: 5px;
}

.sources-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.sources-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.15);
  outline: 0;
  border-radius: 3px;
}

.sources {
    font: 300 0.85em 'Fira Sans', sans-serif;
}

.source__item {
    width: 200px;
    background: none;
    border: 2px solid #525252;
    font: inherit;
    line-height: 1;
    margin: 0.5em auto;
    padding: 0.8em 0.5em;
    color: #c0c0c0;
    transition: 0.25s;
    cursor: pointer;
}

.source__item:hover,
.source__item:focus {
    border-color: #ffffff;
    color: #ffffff;
    background-color: #525252;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}

@media (max-width: 640px) {

  .sources {
    display: flex;
    flex-wrap: wrap;
  }
}