* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  color: #fff;
  background: #17181c;
  font-family: sans-serif;
}

main {
  position: absolute;
  top: 70px;
  bottom: 50px;
}

main::-webkit-scrollbar {
  width: 5px;
}

main::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

main::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.15);
  outline: 0;
  border-radius: 3px;
}

main {
  left: 250px;
  right: 0;
  overflow-y: auto;
}

header {
  padding: 0 30px;
  background-color: #fff;
  min-height: 70px;
  display: flex;
  align-items: center;
}

header h1 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 2.5rem;
  font-weight: 400;
  color: #201e27;
}

footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background-color: #fff;
}

footer .copyright {
  color: #333;
  text-align: center;
}

footer .copyright a {
  color: #444;
}

footer .copyright a:hover {
  color: #555;
}

footer .copyright:before {
  content: '©';
}

footer .logo {
  width: 90px;
}

footer .link {
  color: #000000;
  text-decoration: none;
}

@media (max-width: 768px) {

  html {
    font-size: 14px;
  }
}

@media (max-width: 640px) {

  header {
    justify-content: center;
  }

  .sources-nav {
    width: 100%;
    bottom: unset;
    padding: 0;
  }

  .sources-button {
    display: block;
    padding: 1rem 0;
    text-transform: uppercase;
    font-weight: 800;
    width: 100%;
    outline: 0;
    border: 0;
    background-color: #979696;
    color: #ffffff;
    cursor: pointer;
  }

  .sources-container {
    height: 0;
    width: 100%;
    overflow: hidden;
    padding: 0;
  }

  .sources-container.visible {
    padding: 10px 0 0;
    bottom: 50px;
    height: calc(100vh - 167px);
    overflow: auto;
  }

  main {
    top: 110px;
    left: 0;
  }
  
}
