@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia.woff2") format("woff2");
  src: url("../../assets/fonts/Georgia.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia-Bold.woff2") format("woff2");
  src: url("../../assets/fonts/Georgia-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/arial-regular.woff2") format("woff2");
  src: url("../../assets/fonts/arial-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/arial-italic.woff2") format("woff2");
  src: url("../../assets/fonts/arial-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

:root {
  --color-primary: #F1CDB3;
  --color-primary-light: #FDDCC4;
  --color-light-xl: #FFFFFF;
  --color-light-l: #F6F6F6;
  --color-light-s: #FAFAFA;
  --color-dark-s: #CDCDCD;
  --color-dark-m: #B2B2B2;
  --color-dark-l: #545454;
  --color-dark-xl: #4C4C4C;
  --color-dark-2xl: #444444;
  --color-dark-3xl: #292929;
  --font-primary: "Georgia", "Helvetica", sans-serif;
  --font-secondary: "Arial", "Helvetica", sans-serif;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1260px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.button {
  padding: 13px 43px;
  font-family: var(--font-primary);
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
  background-color: transparent;
  border: 2px solid var(--color-primary);
  border-radius: 100px;
  white-space: nowrap;
  transition: background-color .4s, border .4s;
  -webkit-tap-highlight-color: transparent;
}

.header {
  height: 121px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.logo-heading {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  transition: .3s;
}

.logo-subtitle {
  padding-left: 4px;
  font-family: var(--font-secondary);
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: var(--color-dark-3xl);
}

.navigation {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.navigation-list {
  flex-grow: 1;
  max-width: 443px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: auto;
}

.navigation-item {
  padding-bottom: 6px;
}

.navigation-link {
  font-family: var(--font-secondary);
  font-size: 15px;
  line-height: 24px;
  color: var(--color-dark-l);
  transition: color .3s;
}

.navigation-link.active,
.navigation-link:active {
  color: var(--color-dark-3xl);
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 3px;
  text-underline-offset: 7px;
}

.active {
  cursor: default;
  pointer-events: none;
}

.burger {
  display: none;
  flex-direction: column;
  gap: 8px;
  margin-left: auto;
}

.burger-line {
  width: 30px;
  height: 2px;
  background-color: #000000;
}

.wrapper-light {
  background-color: var(--color-light-l);
}

.wrapper-dark {
  background-color: #211F20;
  background-image: url("../../assets/img/bg_gradient_transparent.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%); /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.our-friends {
  padding-top: 80px;
  padding-bottom: 101px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1, h2 {
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
}

.pets-heading {
  max-width: 400px;
  margin-bottom: 45px;
  color: var(--color-dark-l);
}

.pets-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 31px;
  padding: 15px 0;
  margin-bottom: 44px;
}

.pets-item {
  padding-bottom: 30px;
  border-radius: 9px;
  background-color: var(--color-light-s);
  overflow: hidden;
  transition: .4s;
}

.pet-title {
  margin: 25px auto 30px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.pet-button {
  border: 2px solid var(--color-primary);
}

.pagination {
  display: flex;
  justify-content: space-between;
  width: 340px;
}

.button-round {
  width: 52px;
  height: 52px;
  font-family: var(--font-primary);
  font-size: 20px;
  line-height: 23px;
  border: 2px solid var(--color-primary);
  color: var(--color-dark-3xl);
  background-color: transparent;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-color .4s, border .4s;
}

.button-round.disabled {
  color: var(--color-dark-s);
  border: 2px solid var(--color-dark-s);
  pointer-events: none;
}

.page-number {
  color: var(--color-dark-3xl);
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}

.wrapper-dark-footer {
  background: url("../../assets/img/bg_gradient_transparent.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 40px;
}

.contact-info,
.address-info {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}

.contact-info {
  max-width: 280px;
  row-gap: 40px;
}

.address-info {
  max-width: 302px;
  row-gap: 33px;
}

.contact-info-heading,
.address-info-heading {
  color: var(--color-light-xl);
}


.footer-link {
  display: flex;
  align-items: center;
  column-gap: 20px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: var(--color-primary);
  transition: color .4s;
}

.email {
  padding: 3px 0;
}

.footer-icon {
  flex-shrink: 0;
  transition: fill .4s;
}

.footer-image-container {
  display: flex;
  align-items: flex-end;
}

.button:active,
.button-round:active {
  border: 2px solid var(--color-primary-light);
  background-color: var(--color-primary-light);
}

.logo:active .logo-heading {
  color: var(--color-dark-3xl);
}

.footer-link:active {
  color: var(--color-light-l);
}

.footer-link:active .footer-icon {
  fill: var(--color-light-l);
}

@media (hover: hover) {

  .logo:hover .logo-heading {
    color: var(--color-dark-3xl);
    }

  button,
  .pets-item {
    cursor: pointer;
  }

  .button:not(.pet-button):hover,
  .button-round:hover {
    border: 2px solid var(--color-primary-light);
    background-color: var(--color-primary-light);
  }

  .navigation-link:hover {
    color: var(--color-dark-3xl);
  }

  .pets-item:hover {
    background-color: var(--color-light-xl);
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  }

  .pets-item:hover .button {
    border: 2px solid var(--color-primary-light);
    background-color: var(--color-primary-light);
  }

  .footer-link:hover {
    color: var(--color-light-l);
  }

  .footer-link:hover .footer-icon {
    fill: var(--color-light-l);
  }

  .button:not(.pet-button):active,
  .button.pet-button:active,
  .button-round:active {
    border: 2px solid var(--color-primary);
    background-color: var(--color-primary);
  }

  .donate-card:active {
    background-color: var(--color-primary);
  }

  .logo:active .logo-heading {
    color: var(--color-dark-l);
  }

  .footer-link:active {
    color: var(--color-primary);
  }

  .footer-link:active .footer-icon {
    fill: var(--color-primary);
  }

}

@media (max-width: 1259px) {

  .pets-item:nth-child(7),
  .pets-item:nth-child(8) {
    display: none;
  }
}

@media (max-width: 1100px) {

  .footer {
    justify-content: center;
  }

  .footer-image-container {
    padding-top: 5px;
  }
}

@media (max-width: 800px) {

  .container {
    max-width: 800px;
  }

  .our-friends {
    padding-bottom: 76px;
  }

  .pets-heading {
    margin-bottom: 30px;
  }

  .pets-list {
    padding: 0;
    margin-bottom: 40px;
  }

  .footer {
    padding-top: 30px;
    gap: 60px;
  }

  .contact-info,
  .address-info {
    padding-top: 0;
  }
}

@media (max-width: 767px) {

  .burger {
    display: flex;
  }

  .navigation-list {
    display: none;
  }

}

@media (max-width: 640px) {

  .pets-item:nth-child(n+4) {
    display: none;
  }

  .pagination {
    max-width: 300px;
  }

}

@media (max-width: 500px) {
  
  h2 {
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.06em;
  }

  .pets-heading {
    margin-bottom: 42px;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.06em;
  }
}

@media (max-width: 320px) {

  .container {
    max-width: 300px;
    padding-left: 0;
    padding-right: 0;
  }

  .header {
    padding-left: 10px;
    padding-right: 10px;
  }

  .our-friends {
    padding-top: 42px;
    padding-bottom: 42px;
  }

  .pets-list {
    margin-bottom: 42px;
  }

  .footer {
    align-items: center;
    gap: 40px;
  }

  .contact-info {
    align-items: center;
  }

  .address-info {
    row-gap: 40px;
  }

  .contact-info-heading,
  .address-info-heading {
    text-align: center;
  }

  .address-info-heading {
    align-self: center;
    max-width: 270px;
  }

  .footer-image-container {
    padding-top: 0;
  }

  .footer-image {
    max-width: 260px;
  }
}