.car-controls {
  display: flex;
  align-items: center;
}

.car-controls input[type=color] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  width: 30px;
  height: 32px;
  background-color: transparent;
}

.car-controls input[type=text] {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.car-controls input[type=text]:focus {
  background-color: rgba(255, 255, 255, 0.4);
  cursor: auto;
}