@import '../../../../../scss/colors.scss';

.table-cell.table-header-cell {
  font-family: "Righteous", Helvetica, sans-serif;
  font-size: 18px;
  letter-spacing: 0.15rem;

  @media (max-width: 640px) {
    font-size: 16px;
  }
}

.table-header-cell.wins-cell,
.table-header-cell.time-cell {
  cursor: pointer;
}

.marker {
  display: inline-block;
  width: 15px;
  height: 16px;
  background-image: url('../../../../../assets/svg/arrow-down.svg');
  background-size: contain;
  background-position: center top 20%;
  background-repeat: no-repeat;
  visibility: hidden;
}

.marker.arrow-up {
  transform: rotate(180deg);
}

.marker.visible {
  visibility: visible;
}