@import "../../../../css/colors.scss";

.car {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 1px);

    @media (max-width: 768px) {
      width: 90px;
      height: 35px;
    }
}

.car-icon {
    width: 120px;
    height: 40px;
    stroke: $base-color-dark-xl;
    stroke-width: 10px;
    stroke-linejoin: round;
    paint-order: stroke;

    @media (max-width: 768px) {
      width: 90px;
      height: 35px;
    }
}
