@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia.woff2") format("woff2");
  src: url("../../assets/fonts/Georgia.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia-Bold.woff2") format("woff2");
  src: url("../../assets/fonts/Georgia-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/arial-regular.woff2") format("woff2");
  src: url("../../assets/fonts/arial-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/arial-italic.woff2") format("woff2");
  src: url("../../assets/fonts/arial-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

:root {
  --color-primary: #F1CDB3;
  --color-primary-light: #FDDCC4;
  --color-light-xl: #FFFFFF;
  --color-light-l: #F6F6F6;
  --color-light-s: #FAFAFA;
  --color-dark-s: #CDCDCD;
  --color-dark-m: #B2B2B2;
  --color-dark-l: #545454;
  --color-dark-xl: #4C4C4C;
  --color-dark-2xl: #444444;
  --color-dark-3xl: #292929;
  --font-primary: "Georgia", "Helvetica", sans-serif;
  --font-secondary: "Arial", "Helvetica", sans-serif;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.wrapper-dark-header {
  background: url("../../assets/img/bg_gradient_transparent.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.container {
  max-width: 1260px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.button {
  padding: 13px 43px;
  font-family: var(--font-primary);
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
  background-color: transparent;
  border: 2px solid var(--color-primary);
  border-radius: 100px;
  white-space: nowrap;
  transition: background-color .4s, border .4s;
  -webkit-tap-highlight-color: transparent;
}

.header {
  padding-top: 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 90px;
}

.logo-heading {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.06em;
  color: var(--color-primary);
  transition: .3s;
}

.logo-subtitle {
  padding-left: 4px;
  font-family: var(--font-secondary);
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: var(--color-light-xl);
}

.navigation {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.navigation-list {
  flex-grow: 1;
  max-width: 443px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: auto;
}

.navigation-item {
  padding-bottom: 6px;
}

.navigation-link {
  font-family: var(--font-secondary);
  font-size: 15px;
  line-height: 24px;
  color: var(--color-dark-s);
  transition: .4s;
}

.navigation-link.active,
.navigation-link:active {
  color: var(--color-light-s);
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 3px;
  text-underline-offset: 7px;
}

.navigation-link.active {
  cursor: default;
}

.burger {
  display: none;
  flex-direction: column;
  gap: 8px;
  margin-left: auto;
}

.burger-line {
  width: 30px;
  height: 2px;
  background-color: var(--color-primary);
}

.not-only {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.not-only-content {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 42px;
  max-width: calc(460 * 100% / 1200);
  padding-bottom: 80px;
}

.not-only-heading {
  max-width: 310px;
  font-size: 44px;
  font-weight: 400;
  line-height: 57px;
  color: var(--color-light-xl);
}

.not-only-text {
  font-family: var(--font-secondary);
  font-size: 15px;
  line-height: 24px;
  color: var(--color-dark-s);
}

.not-only-image-container {
  display: flex;
  align-items: flex-end;
}

.not-only-button {
  background-color: var(--color-primary);
}

.main section {
  padding-top: 80px;
  padding-bottom: 100px;
}

.about {
  display: flex;
  justify-content: center;
  column-gap: 10%;
}

.about-image-container {
  display: flex;
  align-items: flex-end;
}

.about-content {
  max-width: calc(430 * 100% / 1200);
}

.about-heading {
  max-width: 370px;
  margin: 14px 0 25px;
  color: var(--color-dark-l);
}

.about-text {
  font-family: var(--font-secondary);
  font-size: 15px;
  line-height: 24px;
  color: var(--color-dark-xl);
}

.about-text:first-of-type {
  margin-bottom: 25px;
}

.wrapper-light {
  background-color: var(--color-light-l);
}

.our-friends {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.our-friends-heading {
  margin: 0 auto 60px;
  max-width: 400px;
  text-align: center;
  color: var(--color-dark-l);
}

.pets-slider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 12px;
  margin-bottom: 60px;
}

.button-round {
  flex-shrink: 0;
  width: 52px;
  height: 52px;
  border: 2px solid var(--color-primary);
  border-radius: 100%;
  background-image: url("../../assets/svg/arrow.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-color .4s, border .4s;
}

.next-button {
  transform: rotate(180deg);
}

.pets-list {
  flex-grow: 1;
  max-width: 990px;
  display: flex;
  justify-content: space-between;
}

.pets-item {
  max-width: 270px;
  padding-bottom: 30px;
  border-radius: 9px;
  background-color: var(--color-light-s);
  overflow: hidden;
  transition: .4s;
}

.pet-title {
  margin: 25px auto 30px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.pet-button {
  border: 2px solid var(--color-primary);
}

.pets-button {
  background-color: var(--color-primary);
}

.help {
  text-align: center;
}

.help-heading {
  max-width: 310px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.help-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 10%;
  row-gap: 55px;
}

.help-icon-container {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.help-title {
  margin-top: 30px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.help-icon-container {
  margin: 0 auto;
  width: 60px;
  height: 60px;
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-position: center center;
}

.help-icon-container.pet-food {
  background-image: url("../../assets/svg/pet-food.svg");
}

.help-icon-container.transportation {
  background-image: url("../../assets/svg/transportation.svg");
}

.help-icon-container.toys {
  background-image: url("../../assets/svg/toys.svg");
}

.help-icon-container.bowls-and-cups {
  background-image: url("../../assets/svg/bowls-and-cups.svg");
}

.help-icon-container.shampoos {
  background-image: url("../../assets/svg/shampoos.svg");
}

.help-icon-container.vitamins {
  background-image: url("../../assets/svg/vitamins.svg");
}

.help-icon-container.medicines {
  background-image: url("../../assets/svg/medicines.svg");
}

.help-icon-container.collars-or-leashes {
  background-image: url("../../assets/svg/collars-or-leashes.svg");
}

.help-icon-container.sleeping-area {
  background-image: url("../../assets/svg/sleeping-area.svg");
}


.in-addition  {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.donate-image-container {
  display: flex;
  align-items: center;
}

.donate-content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-width: 380px;
}

.donate-heading {
  max-width: 300px;
}

.donate-subheading {
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.donate-card {
  width: max-content;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: var(--color-primary);
  border-radius: 9px;
  transition: .3s;
}

.donate-card-number {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.donate-legal {
  font-family: var(--font-secondary);
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: var(--color-dark-m);
}

.wrapper-dark-footer {
  background: url("../../assets/img/bg_gradient_transparent.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 40px;
}

.footer-content {
  max-width: 740px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px;
  flex-grow: 1;
}

.contact-info,
.address-info {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}

.contact-info {
  max-width: 280px;
  row-gap: 40px;
}

.address-info {
  max-width: 302px;
  row-gap: 33px;
}

.contact-info-heading,
.address-info-heading {
  color: var(--color-light-xl);
}

.footer-link {
  display: flex;
  align-items: center;
  column-gap: 20px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: var(--color-primary);
  transition: color .4s;
}

.email {
  padding: 3px 0;
}

.footer-icon {
  flex-shrink: 0;
  transition: fill .4s;
}

.footer-image-container {
  display: flex;
  align-items: flex-end;
}

.button:active,
.button-round:active {
  border: 2px solid var(--color-primary-light);
  background-color: var(--color-primary-light);
}

.donate-card:active {
  background-color: var(--color-primary-light);
}

.logo:active .logo-heading {
  color: var(--color-primary-light);
}

.footer-link:active {
  color: var(--color-light-l);
}

.footer-link:active .footer-icon {
  fill: var(--color-light-l);
}

@media (hover: hover) {

  .logo:hover .logo-heading {
    color: var(--color-primary-light);
  }

  button,
  .pets-item {
    cursor: pointer;
  }

  .button:not(.pet-button):hover,
  .button-round:hover {
    border: 2px solid var(--color-primary-light);
    background-color: var(--color-primary-light);
  }

  .navigation-link:hover {
    color: var(--color-light-s);
  }

  .pets-item:hover {
    background-color: var(--color-light-xl);
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  }

  .pets-item:hover .button {
    border: 2px solid var(--color-primary-light);
    background-color: var(--color-primary-light);
  }

  .donate-card:hover {
    background-color: var(--color-primary-light);
  }

  .footer-link:hover {
    color: var(--color-light-l);
  }

  .footer-link:hover .footer-icon {
    fill: var(--color-light-l);
  }

  .button:not(.pet-button):active,
  .button.pet-button:active,
  .button-round:active {
    border: 2px solid var(--color-primary);
    background-color: var(--color-primary);
  }

  .donate-card:active {
    background-color: var(--color-primary);
  }

  .logo:active .logo-heading,
  .footer-link:active {
    color: var(--color-primary);
  }

  .footer-link:active .footer-icon {
    fill: var(--color-primary);
  }

}

@media (max-width: 1100px) {

  .pets-slider {
    max-width: 800px;
    justify-content: center;
  }

  .pets-list {
    /* flex-grow: 0; */
    justify-content: center;
    gap: 40px;
  }

  .pets-item:nth-child(3) {
    display: none;
  }

  .footer {
    justify-content: center;
  }

  .footer-image-container {
    padding-top: 5px;
  }

}

@media (max-width: 800px) {

  .header {
    margin-bottom: 60px;
  }

  .not-only {
    flex-direction: column;
    gap: 100px;
  }

  .not-only-content {
    max-width: calc(460 * 100% / 708);
    align-self: center;
    padding-bottom: 0;
  }

  .not-only-button {
    align-self: center;
  }

  .not-only-image-container {
    align-self: flex-end;
    justify-content: flex-end;
    max-width: calc(569 * 100% / 708);
  }

  .about {
    flex-direction: column;
    align-items: center;
  }

  .about-image-container {
    order: 1;
  }

  .about-content {
    max-width: calc(430 * 100% / 708);
    margin-bottom: 80px;
  }

  .about-heading {
    margin: 0 0 25px;
  }

  .pets-slider {
    column-gap: 12px;
  }

  .in-addition {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  .donate-image-container {
    order: 1;
  }

  .footer {
    padding-top: 30px;
    gap: 60px;
  }

  .footer-content {
    justify-content: center;
  }

  .contact-info,
  .address-info {
    padding-top: 0;
  }

  .help-item {
    flex-basis: 170px;
  }

  .help-list {
    margin: 0 auto;
    justify-content: space-between;
    max-width: 630px;
    column-gap: 10px;
  }

}

@media (max-width: 767px) {

  .main section {
    padding-top: calc(42 * 100% / 320);
    padding-bottom: calc(42 * 100% / 320);
  }

  .burger {
    display: flex;
  }

  .navigation-list {
    display: none;
  }

  .our-friends {
    align-items: center;
  }

  .pets-item:nth-child(n+2) {
    display: none;
  }

  .pets-slider {
    width: max-content;
    display: grid;
    grid-template-areas: "card card" "prev-button next-button";
    column-gap: 0;
    row-gap: 20px;
    margin-bottom: 42px;
  }

  .pets-list {
    grid-area: card;
  }

  .prev-button {
    grid-area: prev-button;
    justify-self: center;
  }

  .next-button {
    grid-area: next-button;
    justify-self: center;
  }

  .contact-info {
    max-width: 302px;
  }

}

@media (max-width: 480px) {

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  h2 {
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.06em;
  }

  /* .main section {
    padding-top: 42px;
    padding-bottom: 42px;
  } */

  .not-only-content {
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-bottom: 5px;

  }

  .not-only-heading {
    max-width: 75%;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.06em;
  }

  .not-only-image {
    max-width: 260px;
  }


  .about-content {
    max-width: 100%;
    text-align: center;
    margin-bottom: 42px;
  }

  .about-text {
    text-align: justify;
  }

  .about-text:first-of-type {
    margin-bottom: 22px;
  }

  .about-image {
    max-width: 260px;
  }
  
  .our-friends-heading {
    margin-bottom: 42px;
  }

  .help-heading {
    max-width: 80%;
    margin-bottom: 42px;
  }

  .help-item {
    flex-basis: 130px;
  }

  .help-icon-container {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
  }

  .help-title {
    margin-top: 20px;
    font-size: 15px;
    line-height: 17px;
  }

  .in-addition {
    gap: 42px;
  }

  .donate-content {
    align-items: center;
  }

  .donate-heading {
    max-width: 75%;
    text-align: center;
  }

  .donate-subheading {
    line-height: 24px;
    letter-spacing: unset;
  }

  .donate-card-number {
    font-size: 15px;
    line-height: 17px;
  }

  .donate-legal {
    text-align: justify;
  }

  .donate-image-container {
    padding: 0 10px;
  }

  
  .footer {
    align-items: stretch;
    gap: 40px;
  }

  .footer-content {
    gap: 40px;
  }

  .contact-info {
    align-items: center;
  }

  .address-info {
    row-gap: 40px;
  }

  .contact-info-heading,
  .address-info-heading {
    text-align: center;
  }

  .address-info-heading {
    align-self: center;
    max-width: 270px;
  }

  .footer-image-container {
    padding-top: 0;
  }

  .footer-image {
    max-width: 260px;
  }

}

@media (max-width: 320px) {

  .container {
    max-width: 300px;
    padding-left: 0;
    padding-right: 0;
  }

  .header {
    padding-left: 10px;
    padding-right: 10px;
  }

  .about {
    padding-left: 15px;
    padding-right: 15px;
  }

  .help-list {
    padding-left: 5px;
    padding-right: 5px;
    column-gap: 30px;
    row-gap: 30px;
  }

  .in-addition {
    padding-left: 10px;
    padding-right: 10px;
   }
}