$base-color-light-xl: #f3f3f3;

$base-color-dark-xl: #050114;
$base-color-dark-l: #1E1B2C;

$accent-color-primary-medium: #d133af;
$accent-color-primary-light: #e5106d;

$accent-color-secondary-light: #f8c964;




