$base-color-light-xl: #f5f5f5;
$base-color-dark-xl: #050114;
$base-color-dark-l: #201374;
$base-color-dark-s: #325de9;
$accent-color-medium: #981c52;
$accent-color-light: #e5106d;
$border-color-light: #f8c964;



