@font-face {
  font-family: "Rocket Script";
  src: url("../assets/fonts/RocketScript.woff2") format("woff2");
  src: url("../assets/fonts/RocketScript.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Speedy";
  src: url("../assets/fonts/Speedy.woff2") format("woff2");
  src: url("../assets/fonts/Speedy.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Coolvetica";
  src: url("../assets/fonts/Coolvetica-Regular.woff2") format("woff2");
  src: url("../assets/fonts/Coolvetica-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Righteous";
  src: url("../assets/fonts/Righteous-Regular.woff2") format("woff2");
  src: url("../assets/fonts/Righteous-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Blazed";
  src: url("../assets/fonts/Blazed.woff2") format("woff2");
  src: url("../assets/fonts/Blazed.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
