@import '../../scss/colors.scss';

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px 0;
  font-family: "Coolvetica", Helvetica, sans-serif;
}

.page-number {
  display: inline-block;
  padding-right: 2px;
  min-width: 28px;
  height: 23px;
  font-size: 18px;
  letter-spacing: 0.05rem;
  text-align: center;
  background-color: $accent-color-primary-medium;
  box-shadow: 0 0 5px $accent-color-primary-medium;
  transform: skew(-30deg);
}

.button-prev,
.button-next {
  font-family: inherit;
  font-size: 20px;
  transition: 0.4s;

  @media (hover: hover) {

    &:hover {
      color: $accent-color-secondary-light;
    }
  }
}